.cart {
  padding-top: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid $border-color;
}

.cart__link {
  color: $text-dark;
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.cart__icon {
  position: absolute;
  left: 25px;
  top: 30px;
  opacity: 0.2;
}

.cart__link:hover .cart__icon {
  fill: $accent-light;
  opacity: 1;
}

.cart__icon:hover {
  opacity: 1;
}



@media (min-width: $tablet) {
  .cart {
    border-bottom: none;
    padding-left: 80px;
    padding-bottom: 20px;
  }

  .cart__link {
    padding: 0;
  }

  .cart__icon {
    top: 0;
    left: -50px;
  }
}
