.contacts {
  width: 100%;
}

.contacts__container {
  @include container;
}

.contacts__title {
  @include bold-text;
  font-size: 18px;
  line-height: 30px;
  color: $text-dark;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 45px;
}

.contacts__list {
  @include basic-text;
  line-height: 30px;
  margin-bottom: 42px;
  width: 100%;
}

.contacts__field {
  padding-right: 20px;
}

.contacts__link {
  padding-bottom: 4px;
  border-bottom: 1px solid $accent-dark;
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__value--dir {
  padding: 0;
  margin: 0;
}

.contacts__map {
  width: 100%;
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
}

.contacts__button {
  display: block;
  max-width: 260px;
  margin: 0 auto;
}

.contacts__map-picture {
  position: relative;
}

.contacts__map-frame {
  width: 100%;
  height: 457px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet) {
  .contacts__container {
    @include container--tablet;
  }

  .contacts__title {
    @include tablet-title;
    padding-top: 70px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-size: 47px 81px;
    background-position: 600px 45px;
  }

  .contacts__list > tbody {
    display: flex;
    flex-direction: row;
  }

  .contacts__row {
    display: flex;
    width: 45%;
  }

  .contacts__button {
    width: 30%;
  }
}

@media (min-width: $desktop) {
  .contacts__container {
    @include container--desktop;
  }

  .contacts__wrapper {
    padding-left: 175px;
  }

  .contacts {
    position: relative;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
    background-image: none;
    position: relative;
  }

  .contacts__title::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 81px;
    top: 75px;
    left: -100px;
  }

  .contacts__list {
    width: 65%;
    margin-bottom: 45px;
  }

  .contacts__list > tbody {
    display: block;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 50%;
    width: 45%;
  }

  .contacts__value--email {
    padding-bottom: 25px;
  }

  .contacts__field {
    vertical-align: top;
  }

  .contacts__button {
    margin-left: 20%;
    width: 230px;
  }
}
