.form__field {
  border: none;
  padding-left: 0;
  margin: 0;
  padding-right: 0;
}

.form__title {
  @include bold-text;
  color: $accent-light;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
}

.form__title::after {
  content: "";
  position: absolute;
  width: 77%;
  height: 1px;
  background-color: $accent-light;
  top: 50%;
  right: 0;
}

.form__title--email::after {
  display: none;
}

.form__title--email::before {
  content: "";
  position: absolute;
  width: 67%;
  height: 1px;
  background-color: $accent-light;
  top: 50%;
  right: 0;
}

.form__list {
  @include list-norm;
}

.form__item {
  @include bold-text;
  font-size: 17px;
  line-height: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 22px;
}

.form__checkbox-item,
.form__radio-item {
  padding-left: 65px;
  box-sizing: border-box;
  position: relative;
}

.form__name-input {
  width: 260px;
  padding-top: 17px;
  padding-bottom: 18px;
  border: none;
  border-bottom: 2px solid $text-dark;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 17px;
  outline: none;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    color: $text-color;
    font-size: 17px;
    opacity: 0.3;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: $accent-light;
  }
}

.form__field--comment {
  padding: 0;
  margin-bottom: 18px;
}

.form__comment {
  border: 2px solid $text-dark;
  width: 260px;
  box-sizing: border-box;
  resize: vertical;
  min-height: 142px;
  padding-top: 18px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $text-color;
  font-size: 17px;
  outline: none;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    opacity: 0.3;
    padding-right: 50px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $accent-light;
  }
}

.form__note {
  @include basic-text;
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form__button {
  margin-bottom: 15px;
}

.form__item label {
  cursor: pointer;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid $text-color;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.form__input-radio:hover + label::before,
.form__input-checkbox:hover + label::before {
  border: 2px solid $form-accent;
}

.form__input-radio:active + label::before,
.form__input-checkbox:active + label::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $form-accent;
  border-radius: 50%;
  left: 14px;
  top: 15px;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid $text-color;
  left: 0;
  top: 0;
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  left: 11px;
  top: 50%;
  margin-top: -8px;
}

fieldset {
  margin: 0;
  padding: 0;
}

.form__field--phone,
.form__field--email {
  position: relative;
}

.form__name-phone,
.form__name-mail {
  position: absolute;
  bottom: 30px;
  right: 0;
  opacity: 0.2;
}

.form__name-mail {
  width: 32px;
  height: 32px;
}

.form__field--phone:hover .form__name-phone,
.form__field--phone:focus .form__name-phone,
.form__name-input--phone:focus + .form__name-phone,
.form__field--email:hover .form__name-mail,
.form__field--email:focus .form__name-mail,
.form__name-input--email:focus + .form__name-email, {
  fill: $form-accent;
  opacity: 1;
}

@media (min-width: $tablet) {
  .main-form__container {
    width: auto;
    max-width: 1149px;
    margin: 0 auto;
  }

  .main-form__descr {
    margin-bottom: 10px;
  }

  .form__title {
    font-size: 17px;
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;
    padding: 16px 0;
  }

  .form__item {
    font-size: 19px;
    padding: 16px 0;
    display: flex;
  }

  .form__checkbox-item,
  .form__radio-item {
    padding-left: 80px;
  }

  .form__wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0 52px;
    margin: 0;
    margin-top: 50px;
    max-width: 1149px;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__list {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }

  .form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__checkbox-item {
    width: 30%;
  }

  .form__field--color,
  .form__field--phone,
  .form__field--email {
    background-color: $bgr-dark;
  }

  .form__wrapper-name .form__item:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .form__wrapper-name {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .form__name-input {
    margin-left: 26px;
    padding-top: 0;
    flex-grow: 1;
  }

  .form__name-input--phone,
  .form__name-input--email {
    background-color: $bgr-dark;
    margin-left: 0;
  }

  .form__wrapper .form__title,
  .form__wrapper .form__email {
    margin-bottom: 0;
  }

  .form__name-input--email {
    margin-bottom: 50px;
  }

  .form__comment {
    flex-grow: 1;
  }

  .form__title--comment,
  .form__title--phone {
    margin-right: 130px;
  }

  .form__title--email {
    margin-right: 107px;
  }

  .form__note {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .form__input-radio + label::before {
    width: 52px;
    height: 52px;
  }

  .form__input-radio:checked + label::after {
    width: 22px;
    height: 22px;
    left: 17px;
    top: 17px;
  }

  .form__input-checkbox + label::before {
    width: 54px;
    height: 52px;
  }

  .form__input-checkbox:checked + label::after {
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
    left: 14px;
    top: 50%;
    margin-top: -9px;
  }

  .form__title::after,
  .form__title--email::before {
    display: none;
  }

  .form__name-phone,
  .form__name-mail {
    right: 50px;
  }

  .form__name-mail {
    top: 60px;
  }
}

@media (min-width: $desktop) {
  .main-form__container {
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-form__descr {
    margin-left: 225px;
    width: 60%;
    margin-bottom: 10px;
  }

  .page-main__main-title {
    padding-bottom: 110px;
  }

  .page-main__header {
    margin-bottom: 110px;
  }

  .form__checkbox-item {
    width: 30%;
  }

  .form__wrapper {
    padding: 0 175px 0 60px;
  }

  .form__wrapper--color {
    padding-right: 120px;
  }

  .form__comment {
    margin-bottom: 40px;
  }

  .form__wrapper--button {
    width: 60.5%;
    margin: 0 auto;
    padding: 0;
  }

  .form__name-phone,
  .form__name-mail {
    right: 16%;
  }
}
