.product-item {
  border: 1px solid $border-color;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.product-item__link {
  @include bold-text;
  text-decoration: none;
  color: $text-dark;
}

.product-item__text {
  margin: 32px 27px 30px 27px;
}

.product-item__title {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 17px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-item__descr {
  @include basic-text--small;
  margin-top: 0;
  margin-bottom: 27px;
}

.product-item__price {
  @include bold-text;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.product-item__price-group {
  display: flex;
  justify-content: space-between;
}

.product-item__button {
  width: 20px;
  height: 20px;
}

@media (min-width: $tablet) {
  .product-item {
    flex-direction: row;
  }

  .product-item__title {
    font-size: 20px;
    margin: 0;
  }

  .product-item__descr {
    font-size: 15px;
    line-height: 30px;
  }

  .product-item__price {
    font-size: 17px;
    line-height: 24px;
  }

  .product-item__link--img {
    width: 50%;
    height: 334px;
  }

  .product-item__text {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .product-item__link--title {
    width: 100%;
  }

  .product-item__price-group {
    margin-top: auto;
  }
}

@media (min-width: $desktop) {
  .product-item {
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    justify-content: space-between;
    min-height: 659px;
  }

  .product-item__link,
  .product-item__text {
    width: 83%;
  }

  .product-item__descr {
    margin-bottom: 0;
  }

  .product-item__text {
    display: flex;
    flex-direction: column;
    min-height: 197px;
    margin-top: auto;
  }

  .product-item__price-group {
    margin-top: auto;
  }

  .product-item__link--img {
    height: auto;
  }
}
