.contacts {
  width: 100%;
}

.contacts__wrapper {
  @include wrapper;
}

.contacts__title {
  @include bold-text;
  font-size: 18px;
  line-height: 30px;
  color: $text-dark;
  margin: 0;
  margin-bottom: 40px;
}

.contacts__list {
  @include basic-text;
  line-height: 30px;
  margin-bottom: 42px;
}

.contacts__field {
  padding-right: 40px;
}

.contacts__value {
  max-width: 170px;
}

.contacts__value--email {
  border-bottom: 1px solid $accent-dark;

  &:active {
    opacity: 0.3;
  }
}

.contacts__link {
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__map {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.contacts__button {
  display: block;
  width: 260px;
  margin: 0 auto;
}
