@mixin bold-text {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
  }
}

@mixin basic-text {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 400;
    size: 15px;
  }
  color: $text-color;
}


@mixin basic-text--small {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 400;
    size: 13px;
  }
  color: $text-color;
  line-height: 24px;
}

@mixin list-norm {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin small-title {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
    size: 25px;
  }
  line-height: 30px;
  color: $text-dark;
}

@mixin tablet-title {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
    size: 43px;
  }
  line-height: 50px;
  color: $text-dark;
}

@mixin desctop-title {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
    size: 53px;
  }
  line-height: 57px;
  color: $text-dark;
}

@mixin wrapper {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
