.page-catalog__header {
  background-color: $bgr-dark;
}

.page-catalog__main-title {
  @include bold-text;
  font-size: 27px;
  line-height: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.page-catalog__list {
  @include list-norm;
}
