.page-footer {
  width: 100%;
  margin-top: 40px;
  background-color: $bgr-dark;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__social {
  width: 260px;
  border-bottom: 1px solid $border-color;
}

.social__list {
  @include list-norm;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  min-width: 120px;
  justify-content: space-around;
}

.page-footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright__text {
  @include bold-text;
  font-size: 19px;
  color: $text-dark;
  padding-right: 30px;
}

.copyright__link {
  font-size: 15px;
}
