.promo {
  width: 100%;
}

.promo__wrapper {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.promo__title {
  @include small-title;
  padding-top: 34px;
  margin: 0;
  margin-bottom: 8px;
}

.promo__popular {
  @include bold-text;
  color: $accent-light;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
}

.promo__descr,
.promo__list {
  @include basic-text;
}

.promo__list {
  border-collapse: collapse;
  margin-bottom: 28px;
  width: 100%;
}

.promo__field,
.promo__value {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid $bgr-dark;
}

.promo__price {
  @include bold-text;
  font-size: 17px;
  line-height: 24px;
  color: $text-color;
  text-align: center;
}

.promo__button {
  margin-bottom: 36px;
}
