.reviews {
  width: 100%;
}

.reviews__wrapper {
  @include wrapper;
}

.reviews__title {
  @include small-title;
  margin: 0;
  padding-bottom: 15px;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  @include basic-text;
  line-height: 30px;
}

.review__autor {
  @include bold-text;
  font-size: 17px;
  line-height: 24px;
  color: $text-dark;
}

.review__contacts {
  @include basic-text;
  font-size: 17px;
  line-height: 30px;
}

.reviews__button-wrapper {
  margin-bottom: 38px;
  display: flex;
}

.reviews__write {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: $text-dark;
  width: 260px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 45px;
}
