@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensansBold.woff2") format("woff2"), url("fonts/opensansbold.woff") format("woff");
}

body {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}
